body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;

}

body::after {
    content: "";
    background-image: url("E:/TASKS/HTML TASKS/images/bgimage/bgwebsite.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

header {
    background-color: #6e4c85;
    color: #fff;
    padding: 40px;
    text-align: justify;
    position: relative;
}
nav.navtxt{
    text-align: center;
    text-shadow: 2px 2px 5px rgb(0, 255, 213);
}
.logoname{
    color: white;
    position: absolute;
    left:20px;
    top:70px;
    text-shadow: 2px 2px 5px red;
    font-weight: 200;
    font-size: 20px;

}


header img {
    width: 50px;
    position: absolute; /* Add position absolute to the image */
    left: 55px; /* Adjust the left position as needed */
    top: 10px;
    
}

header a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    position: relative;
    transition: transform 0.3s ease; /* Add a transition for the transform property */
}

header a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: scaleX(0); /* Initially, set the width to 0 */
    transform-origin: right;
    transition: transform 0.3s ease; /* Add a transition for the transform property */
}

header a:hover {
    text-decoration: none;
    transform: translateY(-3px); /* Add a subtle upward lift on hover */
}

header a:hover::before {
    transform: scaleX(1); /* Expand the underline on hover */
    transform-origin: left;
}


h1 {
    text-align: center;
}

p {
    margin: 20px 0;
    text-align: center;
}

.slider-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin: 70px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    overflow-x: scroll; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Snap to each image */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}

.slider img {
    max-width: 30%; /* Limit the width to 100% of the container */
    max-height: 500px; /* Set the maximum height to control the size */
    object-fit: cover;
    transition: transform 0.3s ease;
    scroll-snap-align: center; /* Snap the images to the center */
}

.slider img:hover {
    transform: scale(1.1);
}



.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}