body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;

}

body::after {
    content: "";
    background-image: url("E:/TASKS/HTML TASKS/images/bgimage/bgwebsite.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

header {
    background-color: #6e4c85;
    color: #fff;
    padding: 40px;
    text-align: justify;
    position: relative;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 600px;
    flex: 5;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    padding: 2px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group input[type="password"],
.form-group select,
.form-group input[type="date"],
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="radio"] {
    margin-right: 5px;
}

.btn {
    background-color: #6e4c85;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #543961;
}

.login-link {
    text-align: center;
    margin-top: 15px;
}

.login-link a {
    text-decoration: none;
    color: #6e4c85;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}

nav.navtxt{
    text-align: right;
    text-shadow: 2px 2px 5px rgb(0, 255, 213);
}
.logoname{
    color: white;
    position: absolute;
    left:20px;
    top:70px;
    text-shadow: 2px 2px 5px red;
    font-weight: 200;
    font-size: 20px;

}

.error{
    color: red;
    padding: 10px;
    margin-bottom: 15px;
    font-weight: 2;
    
}



header img {
    width: 50px;
    position: absolute; 
    left: 55px;
    top: 10px;
    
}

header a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    position: relative;
    transition: transform 0.3s ease; 
}

header a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: scaleX(0); 
    transform-origin: right;
    transition: transform 0.3s ease; 
}

header a:hover {
    text-decoration: none;
    transform: translateY(-3px); 
}

header a:hover::before {
    transform: scaleX(1); 
    transform-origin: left;
}


h1 {
    text-align: center;
}

p {
    margin: 20px 0;
    text-align: center;
}

.slider-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin: 70px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.slider img {
    max-width: 40%;
    max-height: 500px;
    object-fit: cover;
    transition: transform 0.3s ease;
    scroll-snap-align: center;
}

.slider img:hover {
    transform: scale(1.1);
}



.footer {
    background-color: #6e4c85;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}